/* ----- Title & Subtitle ----- */

.pims-components__title {
	color: var(--text-title-blue-france);
}

.pims-components__subtitle {
	color: var(--pims-orange);
}

/* ----- Container ----- */

.pims-components__flexbox-base {
	display: flex;
}

.pims-components__flexbox-direction-column {
	flex-direction: column;
}

.pims-components__flexbox-direction-row {
	flex-direction: row;
}

.pims-components__flexbox-direction-responsive {
	flex-direction: row;
}

.pims-components__flexbox-alignment-start {
	align-items: flex-start;
}

.pims-components__flexbox-alignment-center {
	align-items: center;
}

.pims-components__flexbox-alignment-responsive {
	align-items: flex-start;
}

@media (max-width: 680px) {
	.pims-components__flexbox-sm-center {
		align-items: center;
	}

	.pims-components__flexbox-direction-responsive {
		flex-direction: column;
	}

	.pims-components__flexbox-alignment-responsive {
		align-items: center;
	}
}

/* ----- Lists ----- */



.pims-components__list-introducer {
	margin-bottom: 8px;
}

.pims-components__toothed-list {
	border-left: 4px solid var(--pims-orange);
	list-style-type: none;
	border-radius: 4px;
	padding-left: 8px;
	padding-top: 8px;
}

.pims-components__toothed-list li {
	position: relative;
	padding-left: 8px;
}

.pims-components__toothed-list li::before {
	content: '';
	position: absolute;
	left: -8px;
	top: 6px;
	border-left: 8px solid orange;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	height: 0;
	width: 0;
}

.pims-components__arrowed-list {
	list-style: none; /* Remove default bullets */
	padding: 0px;
}

.pims-components__arrowed-list li {
	position: relative;
	padding-left: 16px;
}

.pims-components__arrowed-list li::before {
	content: '⎆';
	position: absolute;
	left: 0;
	color: var(--pims-orange);
}

/* ----- Circular Progress ----- */

.pims-components__circular-progress {
	position: relative;
	background: transparent;
	border: 3px solid;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0 0 20px;
}

.pims-components__circular-progress:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid transparent;
	border-top: 2px solid;
	border-right: 2px solid;
	border-radius: 50%;
	animation: animateCircle 2s linear infinite;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.pims-components__circular-progress span {
	display: block;
	position: absolute;
	top: calc(50% - 2px);
	left: 50%;
	width: 50%;
	height: 4px;
	background: transparent;
	transform-origin: left;
	animation: animateLight 2s linear infinite;
}

.pims-components__circular-progress span:before {
	content: '';
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 20px;
}

.pims-components__cp-large {
	width: 48px;
	height: 48px;
}

.pims-components__cp-large:before {
	scale: 1.1;
}

.pims-components__cp-large span:before {
	width: 8px;
	height: 8px;
	top: -2px;
	right: -5px;
}

.pims-components__cp-medium {
	width: 36px;
	height: 36px;
}

.pims-components__cp-medium:before {
	scale: 1.18;
}

.pims-components__cp-medium span:before {
	width: 8px;
	height: 8px;
	top: -2px;
	right: -5px;
}

.pims-components__cp-small {
	width: 24px;
	height: 24px;
}

.pims-components__cp-small:before {
	scale: 1.25;
}

.pims-components__cp-small span:before {
	width: 6px;
	height: 6px;
	top: -2px;
	right: -5px;
}

.pims-components__cp-orange {
	color: var(--pims-orange-transparent);
}

.pims-components__cp-orange::before {
	color: var(--pims-orange);
}

.pims-components__cp-orange span::before {
	color: var(--pims-orange);
}

.pims-components__cp-blue {
	color: var(--background-alt-blue-france-active);
}

.pims-components__cp-blue::before {
	color: var(--text-title-blue-france);
}

.pims-components__cp-blue span {
	color: var(--text-title-blue-france);
}

@keyframes animateCircle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animateLight {
	0% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(405deg);
	}
}

/* ----- Others ----- */

.pims-components__gap {
	gap: 8px;
}

.pims-components__text-color-orange {
	color: var(--pims-orange);
}
