:root {
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--pims-orange: #f09939;
	--pims-green-text-light: #b6d094;
	--pims-green-text-dark: #4f5c3e;
	--pims-green-background-light: #2d3842;
	--pims-green-background-dark: #c8c8c8;
}

body {
	margin: 0;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
}

/* Light and dark modes */
.pims-light {
	--pims-green-background: var(--pims-green-background-light);
	--pims-green-text: var(--pims-green-text-light);
}

.pims-dark {
	--pims-green-background: var(--pims-green-background-dark);
	--pims-green-text: var(--pims-green-text-dark);
}

/* Components */

.pims__responsive-flexbox-col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.pims__screen-title {
	color: var(--text-title-blue-france);
}

.pims__toothed-list {
	border-left: 4px solid var(--pims-orange);
	list-style-type: none;
	border-radius: 4px;
	padding-left: 8px;
}

.pims__toothed-list li {
	position: relative;
	padding-left: 8px;
}

.pims__toothed-list li::before {
	content: '';
	position: absolute;
	left: -8px;
	top: 6px;
	border-left: 8px solid orange;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	height: 0;
	width: 0;
}

.pims__text-color-orange {
	color: var(--pims-orange);
}

@media (max-width: 680px) {
	.pims__responsive-flexbox-col {
		align-items: center;
	}
}

/* Home screen */

#pims-home-screen__protection {
	border-top: solid 2px var(--pims-orange);
	background-color: var(--pims-green-background);
	color: var(--pims-green-text);
	text-align: center;
}

#pims-home-screen__start-process-title {
	display: inline-block;
	white-space: nowrap; /* Prevents title from wrapping */
	margin-bottom: 4px;
}

#pims-home-screen__start-process-subtitle {
	color: var(--text-label-orange-terre-battue);
	display: inline-block;
	white-space: nowrap; /* Prevents subtitle from wrapping */
	font-stretch: condensed;
	font-size: 0.75rem;
}

@media (max-width: 680px) {
	#pims-home-screen__summary {
		text-align: center;
	}
}

/* Information screen */

.pims-information-screen__georisque-item {
	background-color: var(--background-flat-blue-ecume);
	color: var(--text-inverted-grey);
	width: fit-content;
}

#pims-information-screen__address-feature-list {
	border-bottom-right-radius: 0.5rem; /* 8px */
	border-bottom-left-radius: 0.5rem; /* 8px */
	margin: 0px;
	box-shadow:
		0 1px 3px 0 var(--border-action-high-blue-france),
		0 1px 2px -1px var(--border-action-high-blue-france);
}

.pims-information-screen__risk-item-prevention-container {
	width: 100%;
}

/* fonts.css */
@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Thin_Italic.woff2')
		format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Light_Italic.woff2')
		format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Regular_Italic.woff2')
		format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Medium_Italic.woff2')
		format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-Bold_Italic.woff2')
		format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Marianne';
	src: url('/fonts/marianne_web_font/Marianne-ExtraBold_Italic.woff2')
		format('woff2');
	font-weight: 800;
	font-style: italic;
}
