/* fonts.css */
@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Thin_Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Light_Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Regular_Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Medium_Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-Bold_Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne_web_font/Marianne-ExtraBold_Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
