/* ----- LAYOUT ----- */

.pims-layouts__container {
	padding: 32px;
}

@media (max-width: 680px) {
	.pims-layouts__container {
		padding: 16px;
	}
}

/* ----- HEADER ----- */

.pims-layouts__widget-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 16px 32px;
}

.pims-layouts__widget-header-title {
	margin-bottom: 0px;
	margin-right: 8px;
}

.pims-layouts__widget-header-configs {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.pims-layouts__theme-selector {
	align-items: center;
	align-self: center;
	background: none;
	border: none;
	display: inline-flex;
	height: fit-content;
	justify-content: center;
	padding: 8px;
	width: fit-content;
	border-radius: 50%;
	cursor: pointer;
}

.pims-layouts__theme-selector:hover {
	background-color: var(--background-alt-blue-france-hover);
}

.pims-layouts__language-selector-nav-link-selected {
	border-left: 2px var(--border-default-blue-france) solid;
	background-color: var(--background-contrast-blue-france);
}

.button-hidden {
	display: none !important;
}

@media (max-width: 680px) {
	.pims-layouts__widget-header {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 16px;
	}

	.pims-layouts__widget-header-title {
		margin-bottom: 8px;
		margin-right: 0px;
	}
}
